#data {
    position: absolute;
    top: 200px;
    left: 920px;    
    border: 2px solid limegreen;
    width: 450px;
    height: 538px;
    padding: 5px;
}

.script {
    font-family: Arial;
    font-size: 0.8em;
    position: relative;
    height: 200px;
}

.scriptName {
    font-weight: bold;
    margin: 2px;
    text-decoration:underline;
}

#script1 {
    float: left;
}

#script2 {
    float: right;
}

#scale {
    position: absolute;
    top: 260px;
    left: 20px;
    height: 40px;
    width: 400px;
    font-family: Arial;
    font-size: 0.8em;
    color: green;
}

.scale text {
  font: 0.8em Arial;
  fill: green;
}

.scale path,
.scale line {
  fill: none;
  stroke: green;
}

#map {
    top: 300px;
    left: 10px;
    position: absolute; 
}

.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}
 
.fill {
  fill: #fff;
}
 
.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}
 
.land {
  fill: #222;
}
 
.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}