#heatmapHeader {
    left: 350px;
}

.label {
  font-family: Arial;
  font-size:0.9em;
}

.green {
    fill: green;
}

.heatmap {
    position: absolute;
    top: 210px;
    left: 250px;
}

.selected {
    stroke: yellow;
}

.heatmapInfo {
    position: absolute;
    top: 650px;
    left: 280px;
}