#heatmapHeader {
    left: 350px;
}

.label {
  font-family: Arial;
  font-size:0.9em;
}

.green {
    fill: green;
}

.heatmap {
    position: absolute;
    top: 210px;
    left: 250px;
}

.selected {
    stroke: yellow;
}

.heatmapInfo {
    position: absolute;
    top: 650px;
    left: 280px;
}

#scale {
    position: absolute;
    top: 860px;
    left: 600px;
    height: 40px;
    width: 400px;
    font-family: Arial;
    font-size: 0.8em;
    color: green;
}

.scale text {
  font: 0.8em Arial;
  fill: green;
}

.scale path,
.scale line {
  fill: none;
  stroke: green;
}