.script1_color {
    color: #F2AB64;
    fill: #F2AB64;
}

.script2_color {
    color: #ED87B0;
    fill: #ED87B0;
}

#meta {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 1400px;
}

#header {
    position: relative;
    top: 15px;
    border-bottom: 1px solid #D47A1F;
    padding-bottom: 10px;
    padding-left: 30px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#infoText {
    width: 60%;
    margin-left: 200px;
    font-family: Arial;  
    position: relative;
    top: 24px;
    text-align: justify;
    color: green;
    padding-left: 10px;   
}

#popup {
    visibility: hidden;
    font-family: Arial;
    font-size: 0.8em;
    line-height: 120%;
    border: 1px solid green;
    padding: 5px;
    z-index: 500;
    width: 20%;
    background: white;
    box-shadow: 5px 5px 10px #BBB;
}

#closeButton {
    border: 1px solid darkred;
    background-color: lightgrey;
    display: inline-block;
    float: right;
}

img.infoIcon:hover {
        background-color: #C9E0D1;
}

.subheader {
    position: absolute;
    top: 850px;
    display: inline-block;
    font-family: Arial;
    padding-top: 20px;
    color: #006B24;
    z-index: 50;  
}

.title {
    font-family: Arial;
    font-size:1.5em;
    color: green;
    margin: 30px;
}

.subtitle {
    font-family: Arial;
    font-size:1.3em;    
}

.orange {
    color: #D47A1F;
}

.name {
    font-family: Arial;
    font-size:1em; 
    color: #B2215B;
    margin: 30px;
}

.bottomDiv {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-left: 30px;
}