.title {
  font-family: Arial;
}

.label {
  font-family: Arial;
  fill: green;
}

.heatmap {
    position: absolute;
    top: 50px;
    left: 550px;
}

.tree {
    position: absolute;
    top: 50px;
    left: 50px;
}

.header
{
    font-size: 1em;
    font-weight: bold;
    padding: 15px;
    margin-top: 20px;
}

.svg_position
{
    position: absolute;
    top: 50;
    left: 150;
}

path.link {
    fill: none;
    stroke: gray;
}

.tree_label {
    font-size: 0.7em;
    font-family: Arial;
    fill: green;
}