path.link {
    fill: none;
    stroke: gray;
}

.tree_label {
    font-size: 0.8em;
    font-family: Arial;
}

.tree {
    position: absolute;
    top: 100px;
    left: 30px;
}

.bigger {
    font-size: 0.9em;
}