#treeHeader {
    left: 50px;    
}

path.link {
    fill: none;
    stroke: gray;
}

.tree_label {
    font-size: 0.8em;
    font-family: Arial;
}

.tree {
    position: absolute;
    top: 210px;
    left: 30px;
}

.bigger {
    font-size: 0.9em;
}

.treeInfo {
    position: absolute;
    top: 750px;
    left: 20px;
}