.link
{    
    font-weight: bold;
    text-decoration: none;
    color: #B40404;
    cursor: pointer;
    font-size: 1em;
}

body
{
    padding: 20px;
}

.next
{
    font-weight: bold;
    float: right;
    padding-right: 10px;
    font-size: 0.8em;
}

#video
{
    border: 2px solid grey;
}

.small
{
    font-size: 0.8em;
}

.sub_title
{
    color: #585858;
    font-weight: bold;
}

.content
{
    padding: 20px;
}